<h1 class="display-3">Hello!</h1>

  <p class="lead">This are my favorite cars.</p>

  <hr class="my-3">

  <p>If you want to add a car, click the button below...</p>

  <input type="button" class="btn btn-success" value="Add a new car!"> 
  <br>
  <br>

<div class="row row-cols-1 row-cols-md-5">
  <div class="col mb-4" *ngFor="let car of cars">
    <div class="card h-100">
      <img src="{{car.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{car.name}}</h5>
        <p class="card-text">Motor: {{car.motor}}</p>
      </div>
        <div class="card-footer" align="center">
            <input type="button" class="btn btn-danger" value="Delete" (click)="deleteCar(car.id)">
        </div>
    </div>
  </div>
</div>
